---
import Header from '@/components/Header.astro'
import ArticleLists from '@/components/ArticleLists.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Today I learned by Franco Lloveras">
  <main class="mt-12 md:max-w-2xl mx-auto block md:flex flex-col xl:gap-12 items-center p-4">
    <Header />
    <ArticleLists />
  </main>
</Layout>
